{% extends "layout.html" %}

{% block content %}
<a href="/account/change-password"><button class="btn btn-default">Change Password</button></a>
<a href="/account/totp"><button class="btn btn-default">Set up TOTP</button></a>
<a href="/account/delete-account"><button class="btn btn-warning">Delete Account</button></a>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endblock %}
