{% extends "bootstrap/base.html" %}

{% block title %}D&D Character Guide - Delete Account{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">D&D Character Guide - Login</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/account">Account</a></li>
        <li><a href="/characters">Characters</a></li>
        <li><a href="/party">Party</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
<form method="post">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="old-password" type="password" class="form-control" name="old-password" placeholder="Current Password" required>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="new-password" type="password" class="form-control" name="new-password" placeholder="New Password" required>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="confirm-new-password" type="password" class="form-control" name="confirm-new-password" placeholder="Confirm New Password" required>
    </div>
    <input class="btn btn-default" type="submit" value="Change Password">
</form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
{% endblock %}