{% extends "bootstrap/base.html" %}

{% block title %}D&D Character Guide{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">D&D Character Guide</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/account">Account</a></li>
        <li class='active'><a href="/characters">Characters</a></li>
        <li><a href="/party">Party</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}


{% block content %}
<div class="container">
    <h1>Character Items</h1>
    <div class="row">
        {% for character in character_list %}
            <div class="col-md-4">
                <div class="card" style="margin-bottom: 20px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ character[0] }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Character Overview:</h6>
                        <p>Race: {{ for race in races: return races[2] == character[1] }}</p>
                        <p>Class: {{ classes[2] == character[2] }}</p>
                        <p>Background: {{ backgrounds[2] == character[3] }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock%}

