{% extends "bootstrap/base.html" %}

{% block title %}D&D Character Guide - Delete Account{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand active" href="/">D&D Character Guide - Login</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/account">Account</a></li>
        <li><a href="/characters">Characters</a></li>
        <li><a href="/party">Party</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
<form method="post">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="username" type="username" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password" type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <input class="btn btn-default" type="submit" value="Create Account">
</form>
{% endblock %}