<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">D&D Character Guide</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="{% if active_page == 'account' %}active{% endif %}">
                <a href="/account">Account</a>
            </li>
            <li class="{% if active_page == 'characters' %}active{% endif %}">
                <a href="/characters">Characters</a>
            </li>
            <li class="{% if active_page == 'party' %}active{% endif %}">
                <a href="/party">Party</a>
            </li>
            <li class="{% if active_page == 'reference' %}active{% endif %}">
                <a href="/reference">Reference</a>
            </li>
            <li>
                <a href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
