{% extends "bootstrap/base.html" %}

{% block title %}D&D Character Guide - Delete Account{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">D&D Character Guide - Login</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/account">Account</a></li>
        <li><a href="/characters">Characters</a></li>
        <li><a href="/party">Party</a></li>
        <li><a href="/logout">Log Out</a></li>
        <li><a href="/reference">Reference</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
<p>
    Scan the QR code with google authenticator, or a compatible TOTP app.
</p>
    <img src="{{ qrcode(totp_url) }}">
<p>
    Or use the following url: {{ totp_url }}
</p>
<form method="post">
    <label for="totp-code">Enter Generated Code:</label>
    <input type="text" id="totp-code" name="totp-code" required>
    <input class="btn btn-default" type="submit" value="Verify TOTP">
</form>
{% endblock %}